@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

/*-------------------------------
        BASIC STYLES
-------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Oregano';
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: #424242;
}

a {
    text-decoration: none;
    color: #fee140;
}

a:hover {
    color: #fafafa;
    font-weight: bold;
}

a:focus {
    outline: 0.2px dotted #424242;
}

/*-------------------------------
            HEADER
-------------------------------*/

h1 {
    font-family: 'Luckiest Guy';
    font-weight: 900;
    font-size: 60px;
    color: #fafafa;
    text-shadow: 2px 2px 4px #424242;
    text-align: center;
}

.div-h1 {
    margin: 0 10px 10px 10px;
    padding-top: 30px;
}

header {
    background-color: #fafafa60;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}

/*-------------------------------
        SECCION PRINCIPAL
-------------------------------*/

h2 {
    font-family: 'Oregano';
    color: #fafafa;
    font-size: 45px;
    text-shadow: 2px 2px 4px #000000
}

.div-h2 {
    margin: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/*-------------------------------
        DIV QUOTE
-------------------------------*/
.div-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-quote {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px #fafafa;
    padding: 0px 30px;
}

.span-quote {
    font-weight: bold;
    font-size: 35px;
}

.div-p-quote {
    display: flex;
    justify-content: center;
    width: 40vw;
    padding-top: 50px;
}

.div-2-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.div-tarjeta {
    background-color: #FAFAFA25;
    border-radius: 8px;
    border: 2px solid #42424225;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.img-quote {
    height: 70vh;
    margin: 10px;

}

.button-quote {
    background-color: #483d8b;
    border: none;
    border-radius: 30px;
    font-family: Calibri, sans-serif;
    color: #fee140;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 40px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-quote:hover {
    color: #fafafa;
    font-weight: bold;
    background: rgba(0, 0, 0, 0)

}

.button-quote:focus {
    outline: 0.4px dotted #fa709a; 
}

/*-------------------------------
        DIV FOOTER
-------------------------------*/
.seccion-footer {
    display: flex;
    justify-content: center;
    background-color: #42424260;
    margin-top: 35px
}

.p-footer {
    font-size: 20px;
    margin: 15px
}


/*-------------------------------
        MEDIA MAX 600px
-------------------------------*/
@media (max-width: 600px) and (min-width: 431px) {

    /*-------------------------------
                HEADER
    -------------------------------*/

    h1 {
        font-size: 40px;
    }

    .div-h1 {
        padding-top: 15px;
    }

    header {
        height: 20vh;
    }

    /*-------------------------------
            SECCION PRINCIPAL
    -------------------------------*/

    h2 {
        font-size: 35px;
    }

    .div-h2 {
        margin: 20px;
        padding: 5px;
    }

    /*-------------------------------
            DIV QUOTE
    -------------------------------*/
    
    .div-p-quote {
        width: 75vw;
    }

    /*-------------------------------
            FOOTER
    -------------------------------*/
    
}

/*-------------------------------
        MEDIA MAX 430px
-------------------------------*/
@media (max-width: 430px) {

    /*-------------------------------
                HEADER
    -------------------------------*/

    
    /*-------------------------------
            SECCION PRINCIPAL
    -------------------------------*/

    
    /*-------------------------------
            DIV QUOTE
    -------------------------------*/
    
    .p-quote {
        font-size: 25px;
    }
    
    .span-quote {
        font-size: 30px;
    }
    
    .img-quote {
        height: 55vh;
    }
    
    .button-quote {
        font-size: 16px;
    }
    
}

/*-------------------------------
        @Luzyla
-------------------------------*/
